# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

data/lib/di/injector.module.dart

data/lib/features/photos/api/photos_service.g.dart

domain/lib/di/injector.module.dart

domain/lib/features/photos/models/responses/image_model_response.g.dart

domain/lib/features/photos/models/responses/photo_model_response.g.dart

domain/lib/features/photos/models/responses/search_model_response.g.dart

domain/lib/features/photos/models/responses/user_model_response.g.dart

lib/di/injector.config.dart

presentation/lib/di/injector.module.dart

presentation/lib/routing/app_router.gr.dart
